.lc-menu > div{
	font-size: 28px;
	font-weight: bold;
	background-image: url(../img/dlg-header.png);
	background-repeat: no-repeat;
	padding: 5px;
	color: #FFFFFF;
	
}

.lc-menu > div > ul{
	list-style: none;
	padding: 0px;
	margin: 20px auto 0px 20px;
}

.lc-menu > div >  ul > li{
	height: 270px;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	margin: 0px 10px 0px 10px;
	font-weight: bold;
	white-space: normal;
	font-size: 18px;
	margin-bottom: 0px 25px 50px 25px;
	color: #000000;
}

.lc-menu > div >  ul > li >div{
	width: 200px;
	height: 230px;
	margin-bottom: 5px;
}

.lc-menu > div >  ul > li > div > img{
	width: 200px;
	height: 230px;
	/*background-color: #FFFFFF;*/
}

.lc-menu > div >  ul > li > div > div {
	background-color: rgba(0,0,0,0.5);
	height: 60px;
	margin-top: -63px;
	position: relative;
	opacity: 0.8;
	overflow: hidden;
}
.lc-menu > div >  ul > li > div > div > span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	
}
.lc-menu > div >  ul > li > div > div > span.l1{
	width: 200px;
	border-bottom:solid 1px rgba(255,255,255,0.5);
}
.lc-menu > div >  ul > li > div > div > span.l2{
	width: 99px;
	border-right:solid 1px rgba(255,255,255,0.5);
}
.lc-menu > div >  ul > li > div > div > span.l3{
	width: 100px;
}

.lc-menu > div > ul > li:active{
	opacity: 0.6;
}