html {
	width: 100%;
	height: 100%;
}
body {
	background-image: url(../img/back.png);
	background-position: -50px -230px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.tx-menu > ul {
	list-style: none;
}

.tx-menu > ul > li {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	width: 80px;
	height: 130px;
	margin: 6px;
	text-shadow: 0px 0px 2px silver;
	font-weight: bold;
	-webkit-border-radius: 20px;
}
.tx-menu > ul > li:active{
	opacity: 0.6;
}
.tx-menu> ul > li > img {
	width: 80px;
	height: 80px;
	/*box-shadow: 2px 3px 3px silver;*/
	margin-bottom: 0px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 0 0 1px #cfcfcf;
}