html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-image: url(../img/back.png);
	background-size: 1280px 1024px;
}
@media only screen and (max-width: 1280px) {
		
	.header{
		width: 100%;
		height: 97px;
		background-image:url(../img/top-bg.png);
		background-repeat: repeat-x;
		overflow: hidden;
	}
	.header > div.title{
		height: 97px;
		line-height:97px;
		
		float: left;
		color: #FFFFFF;
		font-size: 24px;
		margin-left: 15px;
		font-weight: bold;
	}
	
	.header div.title > div > img{
		width: 32px;
		margin: 13px 5px 17px 0px;
		vertical-align:middle;
	}
	.header > div.button{
		height: 97px;
		line-height:97px;
		width: 110px;
		float: right;
		color: #FFFFFF;
		font-size: 24px;
		margin-left: 15px;
		font-weight: bold;
	}
	.header > div.button:active{
		opacity: 0.5;
	}
	
	.header div.button > div > img{
		width: 32px;
		margin: 13px 5px 17px 0px;
		vertical-align:middle;
	}		
	.content{
		width: 100%;
		margin: 0px auto 0px auto;
		overflow: hidden;
	}
	
}
		
@media only screen and (max-width: 768px) {
	.header{
		width: 100%;
		height: 97px;
		background-image:url(../img/top-bg.png);
		background-repeat: repeat-x;
		padding-left: 15px;
		padding-right: 15px;
		overflow: hidden;
	}
	.header > div.title{
		height: 97px;
		line-height:97px;
		
		float: left;
		color: #FFFFFF;
		font-size: 24px;
	}
	
	.header div.title > div > img{
		width: 32px;
		margin: 13px 5px 17px 0px;
		vertical-align:middle;
	}
	
	.header > div.button{
		height: 97px;
		line-height:97px;
		width: 110px;
		float: right;
		color: #FFFFFF;
		font-size: 24px;
	}
	
	.header > div.button:active{
		opacity: 0.5;
	}
	
	.header div.button > div > img{
		width: 32px;
		margin: 13px 5px 17px 0px;
		vertical-align:middle;
	}
	.content{
		width: 100%;
		margin: 0px auto 0px auto;
		overflow: hidden;
	}
		
}
.tx-pages{
	display: block;
	width: 100%;
	overflow: hidden;
	/*background: grey;*/
	/*white-space: nowrap;*/
	position: relative;
	vertical-align: middle;
	
}
.tx-pages > div{
	width: 100%;
	display: none;
	position: absolute; 
	left: -100%;
	
	
}
.tx-pages div.active{
	display:block;
	left: 0px;
	margin: auto;
	/*background: red;*/
	top: 0; left: 0; bottom: 0; right: 0;  
}

.tx-pages div.active-left{
	display: block;
	-webkit-animation: leftin 500ms;
	left: 0px;
}

.tx-pages div.active-right{
	display: block;
	-webkit-animation: rightin 500ms;
	left: 0px;
}

.tx-pages div.noactive-left{
	display: block;
	-webkit-animation: leftout 500ms;
	left:-100%;;
}

.tx-pages div.noactive-right{
	display: block;
	-webkit-animation: rightout 500ms;
	left: 100%;;
}

@-webkit-keyframes leftin /* Safari 和 Chrome */
{
	from{left:-100%;}
	to{left:0px}
}

@-webkit-keyframes rightin /* Safari 和 Chrome */
{
	from{left:100%;}
	to{left:0px}
}

@-webkit-keyframes leftout /* Safari 和 Chrome */
{
	from{left:0px}
	to{left:-100%;}
}

@-webkit-keyframes rightout /* Safari 和 Chrome */
{
	from{left:0px}
	to{left:100%;}
}

/*导航按钮*/
.buttonbar {
/*	position: absolute;
	z-index: -1;*/
	width: 100%;
	height: 60px;
	left: 0px;
	top:80%;
}
.buttonbar > .pre{
	width: 80px;
	height: 80px;
	border: none;
	border-radius: 40px;
	background: url(../img/icon-left.png) no-repeat center,rgba(255,255,255,0.4);
	float: left;
	position: absolute;
	left: 0px;
	z-index: 99999;
}
.buttonbar > .pre:active{
	border:solid 2px #A12160;
}
.buttonbar > .next{
	width: 80px;
	height: 80px;
	border: none;
	border-radius: 40px;
	background: url(../img/icon-right.png) no-repeat center,rgba(255,255,255,0.4);
	float: right;
	position: absolute;
	z-index: 99999;
	right: 0px;
}
.buttonbar > .next:active{
	border:solid 2px #A12160;
}
